@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Mooli';
	
}



.container{
	width: 80%;
	margin: auto;
}



@media all and (min-width:500px){
	.col-1{width:100%}
	.col-2{width:100%}
	.col-3{width:100%}
	.col-4{width:100%}
	.col-5{width:100%}
	.col-6{width:100%}
	.col-7{width:100%}
	.col-8{width:100%}
	.col-9{width:100%}
	.col-10{width:100%}
	.col-11{width:100%}
	.col-12{width:100%}
}

@media all and (min-width:900px){
	.col-1{width:8.33%}
	.col-2{width:16%}
	.col-3{width:24%}
	.col-4{width:33%}
	.col-5{width:41%}
	.col-6{width:49%}
	.col-7{width:58.31%}
	.col-8{width:66.64%}
	.col-9{width:74.97%}
	.col-10{width:83.3%}
	.col-11{width:91.63%}
	.col-12{width:100%}
}



.box{
	height: 200px;	
	background: red;
}


.container > div{
	display: inline-block;
}